@model MiMatos.ViewModels.ImoveisViewModel

@{
    ViewData["Title"] = "Imóveis - Gerenciar";
}

<h1>Lista de Imóveis</h1>
<hr />
<p>
    <a class="btn btn-dark" asp-action="Create">+ Novo Imóvel</a>
</p>
<hr />

@if (Model.Propriedades.Count().Equals(0) && string.IsNullOrEmpty(Model.TituloBusca))
{
    <span>Nenhum Imóvel foi cadastrado.</span>
}
else if (Model.Propriedades.Count().Equals(0) && !string.IsNullOrEmpty(Model.TituloBusca))
{
    <h3>@Model.TituloBusca</h3>
    <div class="dropdown w-100">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filtros
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownButton">
            <li>
                <form class="dropdown-item" asp-action="Index">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Finalidade" class="control-label"></label>
                            <select class="form-select" asp-for="Finalidade">
                                <option value="Venda" selected>Venda</option>
                                <option value="Locação">Locação</option>
                                <option value="Venda ou Locação">Venda ou Locação</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Tipo" class="control-label"></label>
                            <select class="form-select" asp-for="Tipo">
                                <option value="Todos" selected>Todos</option>
                                @foreach (var tipo in Model.Tipos)
                                {
                                    <option value="@tipo.Nome">@tipo.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Localidade" class="control-label"></label>
                            <input class="form-control" list="Localidades" placeholder="Onde?" asp-for="Localidade" />
                            <datalist id="Localidades" col-md-3">
                                @foreach (var item in Model.Localidades)
                                {
                                    <option value="@item.Nome" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <label class="form-check-label col-md-6">
                            <input class="form-check-input" asp-for="EmCondominio" /> @Html.DisplayNameFor(model => model.EmCondominio)
                        </label>
                    </div>
                    <hr />
                    <div class="row justify-content-around">
                        <div class="col-md-3">
                            <h5>Valor de Venda</h5>
                            <div class="row">
                                <label for="MinValue" class="form-label">Valor Mínimo</label>
                                <input id="MinValue" type="range" class="form-range" value="0" min="0" max="10000000" step="10000" oninput="DisplayMin.value=value" onchange="DisplayMin.value=value" />
                                <input asp-for="MinValue" class="form-control" type="number" id="DisplayMin" step="10000" value="0" oninput="MinValue.value=value" onchange="MinValue.value=value" />
                            </div>
                            <div class="row">
                                <label for="MaxValue" class="form-label">Valor Máximo</label>
                                <input id="MaxValue" type="range" class="form-range" value="10000000" min="0" max="10000000" step="10000" oninput="DisplayMax.value=value" onchange="DisplayMax.value=value" />
                                <input asp-for="MaxValue" class="form-control " type="number" id="DisplayMax" step="10000" value="10000000" oninput="MaxValue.value=value" onchange="MaxValue.value=value" />
                            </div>
                        </div>
                        <br />
                        <div class="col-md-3">
                            <h5>Valor de Locação</h5>
                            <div class="row">
                                <label for="MinValueLoc" class="form-label">Valor Mínimo</label>
                                <input id="MinValueLoc" type="range" class="form-range" value="0" min="0" max="100000" step="500" oninput="DisplayMinLoc.value=value" onchange="DisplayMinLoc.value=value" />
                                <input asp-for="MinValueLoc" class="form-control" type="number" id="DisplayMinLoc" step="10000" value="0" oninput="MinValueLoc.value=value" onchange="MinValueLoc.value=value" />
                            </div>
                            <div class="row">
                                <label for="valorMax" class="form-label">Valor Máximo</label>
                                <input id="MaxValueLoc" type="range" class="form-range" value="100000" min="0" max="100000" step="500" oninput="DisplayMaxLoc.value=value" onchange="DisplayMaxLoc.value=value" />
                                <input asp-for="MaxValueLoc" class="form-control " type="number" id="DisplayMaxLoc" step="500" value="100000" oninput="MaxValueLoc.value=value" onchange="MaxValueLoc.value=value" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>Mais Opções</h5>
                            <div class="row">
                                <hr />
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="AceitaPermuta" /> @Html.DisplayNameFor(model => model.AceitaPermuta)
                                    </label>
                                </div>
                                <hr/>
                                <label asp-for="QtdeQuartos" class="control-label">Número de Quartos</label>
                                <select class="form-select w-100" asp-for="QtdeQuartos">
                                    <option value="Indiferente" selected>Indiferente</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4+">4+</option>
                                </select>
                            </div>
                            <div class="row">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ComSuite" /> @Html.DisplayNameFor(model => model.ComSuite)
                                </label>
                            </div>
                            <hr />
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemQuintal" /> @Html.DisplayNameFor(model => model.TemQuintal)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemPiscina" /> @Html.DisplayNameFor(model => model.TemPiscina)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemQuadra" /> @Html.DisplayNameFor(model => model.TemQuadra)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemSalao" /> @Html.DisplayNameFor(model => model.TemSalao)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemAreaGourmet" /> @Html.DisplayNameFor(model => model.TemAreaGourmet)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemChurrasqueira" /> @Html.DisplayNameFor(model => model.TemChurrasqueira)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid">
                            <input type="submit" value="Buscar" class="btn btn-dark" />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <a class="btn btn-outline-dark" asp-action="Index">Limpar Busca</a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div class="row">
        <div>
            <a class="btn btn-outline-dark" asp-action="Index">Retornar</a>
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.TituloBusca))
    {
        <h3>@Model.TituloBusca</h3>
    }
    <div class="dropdown w-100">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filtros
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownButton">
            <li>
                <form class="dropdown-item" asp-action="Index">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Finalidade" class="control-label"></label>
                            <select class="form-select" asp-for="Finalidade">
                                <option value="Venda" selected>Venda</option>
                                <option value="Locação">Locação</option>
                                <option value="Venda ou Locação">Venda ou Locação</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Tipo" class="control-label"></label>
                            <select class="form-select" asp-for="Tipo">
                                <option value="Todos" selected>Todos</option>
                                @foreach (var tipo in Model.Tipos)
                                {
                                    <option value="@tipo.Nome">@tipo.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Localidade" class="control-label"></label>
                            <input class="form-control" list="Localidades" placeholder="Onde?" asp-for="Localidade" />
                            <datalist id="Localidades" col-md-3">
                                @foreach (var item in Model.Localidades)
                                {
                                    <option value="@item.Nome" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <label class="form-check-label col-md-6">
                            <input class="form-check-input" asp-for="EmCondominio" /> @Html.DisplayNameFor(model => model.EmCondominio)
                        </label>
                    </div>
                    <hr/>
                    <div class="row justify-content-around">
                        <div class="col-md-3">
                            <h5>Valor de Venda</h5>
                            <div class="row">
                                <label for="MinValue" class="form-label">Valor Mínimo</label>
                                <input id="MinValue" type="range" class="form-range" value="0" min="0" max="10000000" step="10000" oninput="DisplayMin.value=value" onchange="DisplayMin.value=value" />
                                <input asp-for="MinValue" class="form-control" type="number" id="DisplayMin" step="10000" value="0" oninput="MinValue.value=value" onchange="MinValue.value=value" />
                            </div>
                            <div class="row">
                                <label for="MaxValue" class="form-label">Valor Máximo</label>
                                <input id="MaxValue" type="range" class="form-range" value="10000000" min="0" max="10000000" step="10000" oninput="DisplayMax.value=value" onchange="DisplayMax.value=value" />
                                <input asp-for="MaxValue" class="form-control " type="number" id="DisplayMax" step="10000" value="10000000" oninput="MaxValue.value=value" onchange="MaxValue.value=value" />
                            </div>
                        </div>
                        <br/>
                        <div class="col-md-3">
                            <h5>Valor de Locação</h5>
                            <div class="row">
                                <label for="MinValueLoc" class="form-label">Valor Mínimo</label>
                                <input id="MinValueLoc" type="range" class="form-range" value="0" min="0" max="100000" step="500" oninput="DisplayMinLoc.value=value" onchange="DisplayMinLoc.value=value" />
                                <input asp-for="MinValueLoc" class="form-control" type="number" id="DisplayMinLoc" step="10000" value="0" oninput="MinValueLoc.value=value" onchange="MinValueLoc.value=value" />
                            </div>
                            <div class="row">
                                <label for="valorMax" class="form-label">Valor Máximo</label>
                                <input id="MaxValueLoc" type="range" class="form-range" value="100000" min="0" max="100000" step="500" oninput="DisplayMaxLoc.value=value" onchange="DisplayMaxLoc.value=value" />
                                <input asp-for="MaxValueLoc" class="form-control " type="number" id="DisplayMaxLoc" step="500" value="100000" oninput="MaxValueLoc.value=value" onchange="MaxValueLoc.value=value" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>Mais Opções</h5>
                            <div class="row">
                                <hr />
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="AceitaPermuta" /> @Html.DisplayNameFor(model => model.AceitaPermuta)
                                </label>
                                <hr />
                                <label asp-for="QtdeQuartos" class="control-label">Número de Quartos</label>
                                <select class="form-select w-100" asp-for="QtdeQuartos">
                                    <option value="Indiferente" selected>Indiferente</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4+">4+</option>
                                </select>
                            </div>
                            <div class="row">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ComSuite" /> @Html.DisplayNameFor(model => model.ComSuite)
                                </label>
                            </div>
                            <hr/>
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemQuintal" /> @Html.DisplayNameFor(model => model.TemQuintal)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemPiscina" /> @Html.DisplayNameFor(model => model.TemPiscina)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemQuadra" /> @Html.DisplayNameFor(model => model.TemQuadra)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemSalao" /> @Html.DisplayNameFor(model => model.TemSalao)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemAreaGourmet" /> @Html.DisplayNameFor(model => model.TemAreaGourmet)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="TemChurrasqueira" /> @Html.DisplayNameFor(model => model.TemChurrasqueira)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid">
                            <input type="submit" value="Buscar" class="btn btn-dark" />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <a class="btn btn-outline-dark" asp-action="Index">Limpar Busca</a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    
    <hr />

    <div class="container" id="desktop-view">
        @foreach (var item in Model.Propriedades)
        {
        <div class="card mb-3 shadow-lg" style="min-height: 250px;">
            <div class="row no-gutters">
                <div class="col-4">
                    @if (item.CaminhoImagem != "")
                    {
                        <img src=@item.CaminhoImagem
                             class="img-fluid rounded-start"
                             alt="Imagem do Imóvel">
                    }
                    else
                    {
                        <img src="/images/not-found.png"
                             class="img-fluid rounded-start"
                             alt="Nenhuma Imagem">
                    }
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                @if (item.ParaVenda)
                                {
                                    <span class="badge bg-primary">Venda</span>
                                }
                                @if (item.ParaLocacao)
                                {
                                    <span class="badge bg-warning">Locação</span>
                                }
                                @if (!(item.Vendido || item.Locado))
                                {
                                    <span class="badge bg-success">Disponível</span>
                                }
                                @if (item.AceitaPermuta)
                                {
                                    <i class="bi bi-arrow-left-right"> Aceita Permuta</i>
                                }
                                @if (item.Vendido)
                                {
                                    <span class="badge bg-danger">Vendido</span>
                                }
                                @if (item.Locado)
                                {
                                    <span class="badge bg-danger">Locado</span>
                                }
                            </div>
                            <div class="col-md-3">
                                <span>Código: @item.Codigo</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>@item.Tipo, @item.Bairro, @item.Cidade - @item.Estado</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <small>Preço de venda</small>
                                <h3>R$ @item.PrecoVenda,00</h3>
                            </div>
                            <div class="col-md-6">
                                <small>Preço de Locação</small>
                                <h3>R$ @item.PrecoLocacao,00</h3>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div>
                                <ul class="col-md-3 list-group list-group-flush">
                                    <li class="list-group-item">Dormitórios <span class="badge bg-primary rounded-pill">@item.QtdeQuartos</span></li>
                                    @if (item.QtdeSuites > 0)
                                    {
                                        <li class="list-group-item">Suítes <span class="badge bg-primary rounded-pill">@item.QtdeSuites</span></li>
                                    }
                                    <li class="list-group-item">Banheiros <span class="badge bg-primary rounded-pill">@item.QtdeBanheiros</span></li>
                                    <li class="list-group-item">Garagem <span class="badge bg-primary rounded-pill">@item.CapacidadeGaragem</span></li>
                                    @if (item.TemQuintal)
                                    {
                                        <li class="list-group-item">Quintal</li>
                                    }
                                    @if (item.TemPiscina)
                                    {
                                        <li class="list-group-item">Piscina</li>
                                    }
                                    @if (item.TemQuadra)
                                    {
                                        <li class="list-group-item">Quadra Esportiva</li>
                                    }
                                    @if (item.TemSalaoFesta)
                                    {
                                        <li class="list-group-item">Salão de Festa</li>
                                    }
                                    @if (item.TemAreaGourmet)
                                    {
                                        <li class="list-group-item">Área Gourmet</li>
                                    }
                                    @if (item.TemChurrasqueira)
                                    {
                                        <li class="list-group-item">Churrasqueira</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="row">
                                <h5 class="col-md-6">Proprietário: @item.NomeProprietario</h5>
                            </div>
                            <div class="row text-end">
                                @if (item.CaminhoImagem != "")
                                {
                                    <a class="btn btn-primary col" asp-action="Index" asp-controller="AdminImagens" asp-route-id="@item.PropriedadeId" aria-disabled="true">
                                        <i class="bi bi-list"></i> Gerenciar Imagens
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary col" asp-action="Upload" asp-controller="AdminImagens" asp-route-id="@item.PropriedadeId">
                                        <i class="bi bi-upload"></i> Carregar Imagens
                                    </a>
                                }
                                <a class="btn btn-outline-dark col" asp-action="Edit" asp-route-id="@item.PropriedadeId">
                                    <i class="bi bi-pencil"></i> Editar
                                </a>
                                <a class="btn btn-dark col" asp-action="Propriedade" asp-route-id="@item.PropriedadeId">
                                    <i class="bi bi-eye"></i> Ver Detalhes
                                </a>
                                <a class="btn btn-outline-danger col" asp-action="Delete" asp-route-id="@item.PropriedadeId">
                                    <i class="bi bi-trash"></i> Apagar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <vc:pager paging-list="@Model.Propriedades"></vc:pager>
        </div>
        }
    </div>

    <div class="container" id="mobile-view">
        @foreach (var item in Model.Propriedades)
        {
            @if (item.CaminhoImagem != "")
            {
                <img src=@item.CaminhoImagem
                     class="img-fluid rounded-start card-img-top"
                     alt="Imagem do Imóvel">
            }
            else
            {
                <img src="/images/not-found.png"
                     class="img-fluid rounded-start card-img-top"
                     alt="Nenhuma Imagem">
            }
            <div class="card shadow" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            @if (item.ParaVenda)
                            {
                                <span class="badge bg-primary">Venda</span>
                            }
                            @if (item.ParaLocacao)
                            {
                                <span class="badge bg-warning">Locação</span>
                            }
                            @if (!(item.Vendido || item.Locado))
                            {
                                <span class="badge bg-success">Disponível</span>
                            }
                            @if (item.AceitaPermuta)
                            {
                                <i class="bi bi-arrow-left-right"> Aceita Permuta</i>
                            }
                            @if (item.Vendido)
                            {
                                <span class="badge bg-danger">Vendido</span>
                            }
                            @if (item.Locado)
                            {
                                <span class="badge bg-danger">Locado</span>
                            }
                        </div>
                        <div class="col-md-3">
                            <span>Código: @item.Codigo</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@item.Tipo, @item.Bairro, @item.Cidade - @item.Estado</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Preço de venda</small>
                            <h3>R$ @item.PrecoVenda,00</h3>
                        </div>
                        <div class="col-md-6">
                            <small>Preço de Locação</small>
                            <h3>R$ @item.PrecoLocacao,00</h3>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div>
                            <ul class="col-md-3 list-group list-group-flush">
                                <li class="list-group-item">Dormitórios <span class="badge bg-primary rounded-pill">@item.QtdeQuartos</span></li>
                                @if (item.QtdeSuites > 0)
                                {
                                    <li class="list-group-item">Suítes <span class="badge bg-primary rounded-pill">@item.QtdeSuites</span></li>
                                }
                                <li class="list-group-item">Banheiros <span class="badge bg-primary rounded-pill">@item.QtdeBanheiros</span></li>
                                <li class="list-group-item">Garagem <span class="badge bg-primary rounded-pill">@item.CapacidadeGaragem</span></li>
                                @if (item.TemQuintal)
                                {
                                    <li class="list-group-item">Quintal</li>
                                }
                                @if (item.TemPiscina)
                                {
                                    <li class="list-group-item">Piscina</li>
                                }
                                @if (item.TemQuadra)
                                {
                                    <li class="list-group-item">Quadra Esportiva</li>
                                }
                                @if (item.TemSalaoFesta)
                                {
                                    <li class="list-group-item">Salão de Festa</li>
                                }
                                @if (item.TemAreaGourmet)
                                {
                                    <li class="list-group-item">Área Gourmet</li>
                                }
                                @if (item.TemChurrasqueira)
                                {
                                    <li class="list-group-item">Churrasqueira</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="row">
                            <h5 class="col-md-6">Proprietário: @item.NomeProprietario</h5>
                        </div>
                        <div class="row text-end">
                            @if (item.CaminhoImagem != "")
                            {
                                <a class="btn btn-primary col" asp-action="Index" asp-controller="AdminImagens" asp-route-id="@item.PropriedadeId" aria-disabled="true">
                                    <i class="bi bi-list"></i> Gerenciar Imagens
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary col" asp-action="Upload" asp-controller="AdminImagens" asp-route-id="@item.PropriedadeId">
                                    <i class="bi bi-upload"></i> Carregar Imagens
                                </a>
                            }
                            <a class="btn btn-outline-dark col" asp-action="Edit" asp-route-id="@item.PropriedadeId">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                            <a class="btn btn-dark col" asp-action="Propriedade" asp-route-id="@item.PropriedadeId">
                                <i class="bi bi-eye"></i> Ver Detalhes
                            </a>
                            <a class="btn btn-outline-danger col" asp-action="Delete" asp-route-id="@item.PropriedadeId">
                                <i class="bi bi-trash"></i> Apagar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div>
                <vc:pager paging-list="@Model.Propriedades"></vc:pager>
            </div>
        }
    </div>
}
