@model MiMatos.Models.Propriedade;
@{
    string link = $"https://wa.me/5519987366669/?text=Tenho%interesse%no%imovel%{Model.Codigo}";
}

@if (Model.ParaVenda && Model.ParaLocacao)
{
    <h1>@Model.Tipo para Venda ou Locação em @Model.Bairro, @Model.Cidade</h1>
}
@if (Model.ParaVenda && !Model.ParaLocacao)
{
    <h1>@Model.Tipo para Venda em @Model.Bairro, @Model.Cidade </h1>
}
@if (!Model.ParaVenda && Model.ParaLocacao)
{
    <h1>@Model.Tipo para Locação em @Model.Bairro, @Model.Cidade</h1>
}

<hr />

<div class="container" id="desktop-view">
    <div class="row gx-5">
        <div class="col-md-6">
            <div class="mb-3 d-flex justify-content-center">
                <div class="row">
                    @{
                        var carouselIndex = 0;
                    }
                    @foreach (var caminho in Model.CaminhosImagens)
                    {
                        { carouselIndex++; }
                        <div class="col-md-2">
                            <a data-bs-toggle="modal" data-bs-target="#carouselModal" data-bs-slide-to="@carouselIndex">
                                <div class="card">
                                    <img src="@caminho" class="d-block w-100" style="max-width: 25em;" alt="@caminho" />
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6" style="background: white;">
            <div class="ps-lg-3">
                <h3 class="title text-dark">
                    @Model.Titulo
                </h3>
                <small>Código: @Model.Codigo</small>
                <hr />
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <span class="text-muted">Área Total</span>
                            <span class="h5">@Model.AreaTotal m²</span>
                        </div>
                        <div class="col">
                            <span class="text-muted">Para Venda:</span>
                            <span class="h5">@Model.PrecoVenda</span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <span class="text-muted">Área Construída</span>
                            <span class="h5">@Model.AreaContruida m²</span>
                        </div>
                        <div class="col">
                            @if (Model.ParaLocacao)
                            {
                                <span class="text-muted">Para Locação:</span>
                                <span class="h5">@Model.PrecoLocacao</span>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <p>
                    @Model.Descricao
                </p>
                <hr />
                <div class="row">
                    <dt class="col-3">Tipo:</dt>
                    <dd class="col-9">@Model.Tipo</dd>

                    <dt class="col-3">Quartos:</dt>
                    <dd class="col-9">@Model.QtdeQuartos</dd>

                    <dt class="col-3">Suítes:</dt>
                    <dd class="col-9">@Model.QtdeSuites</dd>

                    <dt class="col-3">Banheiros:</dt>
                    <dd class="col-9">@Model.QtdeBanheiros</dd>

                    <dt class="col-3">Garagem:</dt>
                    <dd class="col-9">@Model.CapacidadeGaragem vagas</dd>

                    <dt class="col-3">Aceita Permuta:</dt>
                    @if (Model.AceitaPermuta)
                    {
                        <dd class="col-9">Sim</dd>
                    }
                    else
                    {
                        <dd class="col-9">Não</dd>
                    }
                </div>

                <hr />

                <div class="row">
                    <a class="btn btn-outline-dark col" asp-action="Edit" asp-route-id="@Model.PropriedadeId">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <a href="javascript: history.go(-1)" class="btn btn-dark col">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="mobile-view">
    @if (Model.CaminhosImagens.Count < 1)
    {
        <img src="@Model.CaminhoImagem" class="card-img-top" alt="..." height="375">
    }
    else
    {
        <div id="carouselFade" class="carousel carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.CaminhoImagem" class="card-img-top" alt="..." height="375">
                </div>
                @foreach (var caminho in Model.CaminhosImagens)
                {
                    <div class="carousel-item">
                        <img src="@caminho" class="card-img-top" alt="..." height="375">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
        </div>
    }
    <div class="card shadow-lg">
        <div class="col-md-6" style="background: white;">
            <div class="ps-lg-3">
                <h3 class="title text-dark">
                    @Model.Titulo
                </h3>
                <small>Código: @Model.Codigo</small>
                <hr />
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <span class="text-muted">Área Total</span>
                            <span class="h5">@Model.AreaTotal m²</span>
                        </div>
                        <div class="col">
                            <span class="text-muted">Para Venda:</span>
                            <span class="h5">@Model.PrecoVenda</span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <span class="text-muted">Área Construída</span>
                            <span class="h5">@Model.AreaContruida m²</span>
                        </div>
                        <div class="col">
                            @if (Model.ParaLocacao)
                            {
                                <span class="text-muted">Para Locação:</span>
                                <span class="h5">@Model.PrecoLocacao</span>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <p>
                    @Model.Descricao
                </p>
                <hr />
                <div class="row">
                    <dt class="col-4">Tipo:</dt>
                    <dd class="col-8">@Model.Tipo</dd>

                    <dt class="col-4">Quartos:</dt>
                    <dd class="col-8">@Model.QtdeQuartos</dd>

                    <dt class="col-4">Suítes:</dt>
                    <dd class="col-8">@Model.QtdeSuites</dd>

                    <dt class="col-4">Banheiros:</dt>
                    <dd class="col-8">@Model.QtdeBanheiros</dd>

                    <dt class="col-4">Garagem:</dt>
                    <dd class="col-8">@Model.CapacidadeGaragem vagas</dd>

                    <dt class="col-4">Aceita Permuta:</dt>
                    @if (Model.AceitaPermuta)
                    {
                        <dd class="col-8">Sim</dd>
                    }
                    else
                    {
                        <dd class="col-8">Não</dd>
                    }
                </div>

                <hr />

            </div>
        </div>

    </div>
    <div class="row">
        <a class="btn btn-outline-dark col" asp-action="Edit" asp-route-id="@Model.PropriedadeId">
            <i class="bi bi-pencil"></i> Editar
        </a>
        <a href="javascript: history.go(-1)" class="btn btn-dark col">Voltar</a>
    </div>
</div>

<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner overflow-hidden">
                    <div class="carousel-item active">
                        <img src="@Model.CaminhoImagem" class="d-block w-100" alt="@Model.CaminhoImagem" />
                    </div>
                    @foreach (var caminho in Model.CaminhosImagens)
                    {
                        @if (caminho != Model.CaminhoImagem)
                        {
                            <div class="carousel-item">
                                <img src="@caminho" class="d-block w-100" alt="@caminho" />
                            </div>
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


